<ion-header>
  <ion-toolbar>
    <ion-title>Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="https://ionicframework.com/docs/demos/api/card/madison.jpg" />
    <ion-card-header>
      <ion-card-subtitle>{{nomeUsuario}}</ion-card-subtitle>
      <ion-card-title class="feedTitle">Madison, WI</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Madison é a capital do estado norte-americano do Wisconsin, no Condado de Dane. Foi fundada em 1836, e incorporada em 1848. O Aeroporto Regional do Condado de Dane serve a cidade.
    </ion-card-content>
  </ion-card>

  <!--ion-card>

    <ion-item>
      <ion-avatar item-start>
        <img src="https://ionicframework.com/docs/demos/api/card/madison.jpg">
      </ion-avatar>
      <h5>Madison</h5>
      <p>November 5, 1955</p>
    </ion-item>
  
    <img src="https://ionicframework.com/docs/demos/api/card/madison.jpg">
  
    <ion-card-content>
      <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
    </ion-card-content>
  
    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>12 Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="text"></ion-icon>
          <div>4 Comments</div>
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row>
  
  </ion-card-->

</ion-content>