<ion-header>
  <ion-toolbar>
    <ion-title>Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="atualize($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let filme of listaFilmes">
    <img [src]="'https://image.tmdb.org/t/p/w500/' + filme.backdrop_path"/>
    <ion-card-header>
      <ion-card-subtitle>{{filme.release_date}}</ion-card-subtitle>
      <ion-card-title class="feedTitle">{{filme.original_title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{filme.overview}}
    </ion-card-content>
    <ion-button ion-button expand="full" shape="round" (click)="abrirDetalhes(filme)">Detalhes</ion-button>
  </ion-card>
  
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!--ion-card>

    <ion-item>
      <ion-avatar item-start>
        <img src="https://ionicframework.com/docs/demos/api/card/madison.jpg">
      </ion-avatar>
      <h5>Madison</h5>
      <p>November 5, 1955</p>
    </ion-item>
  
    <img src="https://ionicframework.com/docs/demos/api/card/madison.jpg">
  
    <ion-card-content>
      <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
    </ion-card-content>
  
    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>12 Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="text"></ion-icon>
          <div>4 Comments</div>
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row>
  
  </ion-card-->

</ion-content>